/* CSS Geral */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body_img {
    background-image: url(background.png);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.cabecalho {
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 0;
}

.rodape {
    position: fixed;
    bottom: 0;
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logo a img {
    width: 80px;
}

.logo a span {
    letter-spacing: 3px;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 30px;
    font-size: larger;

}

/* .li_sobre {
    position: relative;
}

.li_sobre:hover .dropdown_sobre {
    display: block !important;   
    top: 60px;
    position: absolute;
}

.dropdown_sobre {
    display: none;
} */

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 3px;
}

ul li a:hover {
    font-size: 25px;
    color: green;
}

.cabecalho span {
    color: white;
    display: inline;
    margin-left: 5px;
    font-size: xx-large;
}



/* CSS Simulador */

.corpo_simulador {
    width: 100%;
    height: 100%;
    margin: 0;
}

.caixa_simulador {
    background-color: rgba(0, 0, 0, .6);
    height: 630px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -250px;
    border-radius: 15px;
}

.caixa_simulador img {
    height: 140px;
    margin-left: 180px;
    margin-top: 5px;
}

.caixa_simulador input {
    border-color: white;
    background-color: transparent;
    color: white;
    height: 40px;
    margin-left: 160px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.caixa_simulador button {
    background-color: green;
    color: white;
    height: 60px;
    width: 177px;
    margin-left: 160px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.div_msg {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}

::placeholder {
    color: white;
}

.button_result:hover {
    background-color: rgb(2, 43, 2);
}


