/* CSS Geral */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body_img {
    background-image: url(background.png);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.cabecalho {
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 0;
}

.rodape {
    position: fixed;
    bottom: 0;
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logo a img {
    width: 80px;
}

.logo a span {
    letter-spacing: 3px;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 30px;
    font-size: larger;

}

/* .li_sobre {
    position: relative;
}

.li_sobre:hover .dropdown_sobre {
    display: block !important;   
    top: 60px;
    position: absolute;
}

.dropdown_sobre {
    display: none;
} */

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 3px;
}

ul li a:hover {
    font-size: 25px;
    color: green;
}

.cabecalho span {
    color: white;
    display: inline;
    margin-left: 5px;
    font-size: xx-large;
}


/* CSS Home */

.corpo_home {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
}

.desing_button {
    border-radius: 20px;
    background-color: transparent;
    width: 350px;
    transition: 1s;
    font-size: 28px;
    padding: 20px;
    background-color: rgb(24, 23, 23, .3);
    border: none;
}

.desing_button a {
    color: white;
    text-decoration: none;
}

.desing_button:hover {
    font-size: 24px;
    cursor: pointer;

}


/* CSS Sobre */

.caixa_sobre {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    font-size: 18px;
    color: white;
}


/* CSS Portfolio */

.corpo_portfolio {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    padding: 0 100px;
}

.caixa_portfolio p {
    margin-top: -200px;
}

.button_simulador {
    border-radius: 20px;
    background-color: transparent;
    width: 350px;
    transition: 1s;
    font-size: 28px;
    padding: 20px;
    background-color: rgb(24, 23, 23, .3);
    border: none;
}

.button_simulador a {
    color: white;
    text-decoration: none;
}

.button_simulador:hover {
    font-size: 24px;
    cursor: pointer;
}


/* CSS Simulador */

.corpo_simulador {
    width: 100%;
    height: 100%;
    margin: 0;
}

.caixa_simulador {
    background-color: rgba(0, 0, 0, .6);
    height: 630px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -250px;
    border-radius: 15px;
}

.caixa_simulador img {
    height: 140px;
    margin-left: 180px;
    margin-top: 5px;
}

.caixa_simulador input {
    border-color: white;
    background-color: transparent;
    color: white;
    height: 40px;
    margin-left: 160px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.caixa_simulador button {
    background-color: green;
    color: white;
    height: 60px;
    width: 177px;
    margin-left: 160px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
}

.div_msg {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}

::placeholder {
    color: white;
}

.button_result:hover {
    background-color: rgb(2, 43, 2);
}


/* CSS Contato */

.caixa_contato {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    font-size: 20px;
    color: white;
}


/* CSS Log In */

.caixa_log_in {
    background-color: rgba(0, 0, 0, .6);
    height: 550px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 30px;
    color: white;
    padding: 0 30px;
}

.caixa_log_in img {
    margin-top: 30px;
    height: 120px;
}

.img_login {
    text-align: center;
}

.caixa_log_in input:not([type="checkbox"]) {
    background-color: rgba(139, 139, 139, 0.1);
    color: white;
    height: 30px;
    width: -webkit-fill-available;
    border-radius: 15px;
    margin-bottom: 20px;
}

.caixa_log_in button {
    width: 200px;
    height: 35px;
    background-color: green;
    color: white;
    font-size: 25px;
    border-radius: 15px;
}

.button_login_conteiner {
    text-align: center;
}

.caixa_log_in p {
    font-size: 14px;
}

.button_login:hover {
    background-color: rgb(2, 43, 2);
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
}

.rodape_caixa {
    text-align: center;
}

.lembrar_login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.desing_p {
    color: white;
    text-decoration: none;
}


/* CSS Cadastro */

.corpo_cadastro {
    color: white;
    margin: 95px;
    text-align: center;
    margin-left: 120px;
    
}

.caixa_cadastro {
    background-color: rgba(0, 0, 0, .2);
    height: 480px;
    width: 450px;
   position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -750px;
    border-radius: 30px;
    color: white;
    padding: 30px 30px;
    margin-left: -230px;
    padding: 20px;
    font-size: 17px;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 35%);
}

.conteudo_cadastro input:not([type="checkbox"]) {
    background-color: rgba(139, 139, 139, 0.1);
    color: white;
    height: 20px;
    width: 65%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.checkbox_termo {
    margin-top: 30px;
}

.checkbox_termo input[type="checkbox"] {
    cursor: pointer;
}

.checkbox_termo a {
    text-decoration: none;
    cursor: pointer;
}

.button_cadastro {
    border-radius: 15px; 
    height: 50px;
    width: 170px;
    color: white;
    background-color: rgba(139, 139, 139, 0.6);
    font-size: x-large;
    border: none;
    margin-top: 30px;
}

.button_cadastro:hover {
    background-color: green;
    font-size: 22px;
    transition: 0.5s;
    cursor: pointer;
}

.design_input {
    display: flex;
    justify-content: space-between;
   
}

.design_input:not([type="input"]) {
    font-weight: 700;
}

.design_input2 {
    align-items: center;
}

.sex_input {
    width: 66%;
    margin: 10px 0 20px;
    height: 25px;
    border-radius: 15px; 
}

.aniversario_input {
    display: flex;
    margin: 10px 0;    
}

.aniversario_input:not([select]) {
    font-weight: 700;
}


.aniversario_input div:first-child {
    margin-left: 25px;
}


#data {

  margin-left: 65px;
  height: 25px;

}

#resetar {

    background-color: green;
    font-size: 22px;
    transition: 0.5s;
    cursor: pointer;
    float: right;
    margin-right: 200px;
    border-radius: 15px;
    border: 0;
    color: white;

}