/* CSS Geral */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body_img {
    background-image: url(../IMG/background.png);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cabecalho {
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 0;
}

.rodape {
    position: fixed;
    bottom: 0;
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape .grey {
color: grey;
margin-left: 45em;
}

.caixa {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa nav {
margin: 1.00em;
}

.logo a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logo a img {
    width: 80px;
}

.logo a span {
    letter-spacing: 3px;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 30px;
    font-size: larger;

}

/* .li_sobre {
    position: relative;
}
.li_sobre:hover .dropdown_sobre {
    display: block !important;   
    top: 60px;
    position: absolute;
}
.dropdown_sobre {
    display: none;
} */

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 3px;
}

ul li a:hover {
    font-size: 25px;
    color: green;
}

.cabecalho span {
    color: white;
    display: inline;
    margin-left: 5px;
    font-size: xx-large;
}


/* CSS Home */

* {
font-family: 'Arial';
}

.corpo_home {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
}

.caixa_home h4 {
    font-size: 0.83em;
}

.desing_button {
    border-radius: 20px;
    background-color: transparent;
    width: 350px;
    transition: 1s;
    font-size: 28px;
    padding: 20px;
    background-color: rgb(24, 23, 23, .3);
    border: none;
    margin-left: 1.00em;
    margin: 1.20em;
}

.desing_button a {
    color: white;
    text-decoration: none;
}

.desing_button:hover {
    font-size: 24px;
    cursor: pointer;

}
