body,
html {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #38b000;
}

h5 {
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-weight: bold;
  border-radius: 100px 100px 100px 100px;
}

h4 {
  color: #fff;
  font-weight: 100;
  font-weight: bold;
  border-radius: 100px 100px 100px 100px;
  text-align: center;
}

h2 {
color: white;
font-weight: 100;
font-weight: bold;
}

/* RODAPÉ  */

.rodape {
  width: 100%;
  height: 100px;
  margin-top: 200px;
  background-color: white;
}

.rodape span {
  color: #38b000;
  float: left;
  margin-top: 30px;
  margin-left: 45%;
  font-weight: bold;
  font-size: large;
}
