.pag-login {
background-color: rgba(0, 0, 0, .2);
box-shadow: 0 0 4px 4px rgb(0 0 0 / 35%);
text-align: center;
padding: 1em 2em;
margin-top: 12em;
margin-left: 30em;
width: 30em;
border-radius: 70px;
}

.box-login {
display: inline-block;
padding: 2.00em 2.00em 2.00em 1.20em;
border-radius: 20px;
width: 25em;
height: 15em;
color: white;

}

.pag-login .input-padrao {
width: 50%;
display: inline-block;
margin-top: 1.00em;
background-color: rgba(139, 139, 139, 0.1);
border-radius: 15px;
font-size: 1vw;
color: white;

}

.btn-green {
color: white;
background-color: green;
margin: 20px 0 50px 0;
border: 0;
padding: 10px 20px;
border-radius: 5px;
float: left;
cursor: pointer;
}

.pag-login .btn-green {
display: block;
float: none;
margin: 12em;
margin-top: 2em;
width: 9.00em;
}

.box-login .item_colorido {
color: white;
}

.Tofu {
margin-left: 1.00em;

}
form{
    text-align: left;
    margin-left: 30px;
}


