/* CSS Geral */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    /* overflow-y:hidden; */
}

body {
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1807/Green_Gradient_Abstract_Design_Background_1366x768.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* overflow-y:hidden; */

}

.cabecalho {
    padding-top: 0;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 0;
}



.caixa {
    width: 100%;
    height: 100%;
    float: right;
    margin: auto;
}
   


.logo {
    
    height: 100%;
    margin: auto 40px;
    float: right;
    display: flex;
    align-items: center;
    text-decoration: none;}


.logo img {
    height: 100%;
}

.logo span {
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    float: left;
}


.cabecalho span {
    color: white;
    display: inline;
    margin-left: 5px;
    font-size: xx-large;
}

.rodape {
    position: fixed;
    bottom: 0;
    padding-top: 0px;
    background: rgb(24, 23, 23, .6);
    width: 100%;
    height: 3%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
/*FIM GERAL*/


/* COMEÇO HAMBURGUER */

.logo_menu{
    height: 2.5em;
    margin-left: 100% ;
    margin-top: 20%;
    z-index: 1;/*É um indice de prioridade*/
    cursor: pointer;
    float: left;
}

.menu{
    position: absolute;
    height: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin-top:0.74em;
    font-size: 1.5em;
    text-align: left;
    margin: 0;
}

.caixa_menu{
    top: 0;
    width: 500%;
    background-color: rgba(24, 23, 23, 0.76);/*cor fundo*/
    position: absolute;
    left: -300px; 
    transition: 0.3s;
    height: 100%;
    
}

ul img{
    height: 7em;
}

.itens_hamburguer {

    background-color: rgba(177, 177, 177, 0.507);/*cor itens*/
    margin: 3% 5%;
    max-width: 100%;
    padding: 4.63%;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#imagem_itens {

    text-align: center;

}



/*FIM HAMBURGUER */

/* Inicio Caixa Dashboard (Engloba tudo) */


/* Fim Caixa Dashboard (Engloba tudo) */



/*INÍCIO BOTÕES*/


.caixa_but {

float: right;
margin-top: 17%;    
width: 400px;
height: 200px ;
position: absolute;
margin-right: 45%;

}

.but_display_digital{

background-color: rgba(24, 23, 23, 0.76) ;
color: white;
height: 40%;
width: 45%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;

}

#but_sensor_1{
    border-bottom: 3px solid blueviolet;
    position: absolute;
}

#but_sensor_2{

    border-bottom: 3px solid rgb(226, 43, 195);
    right: 0;
    position: absolute;
}

#but_sensor_3{

    border-bottom: 3px solid rgb(43, 153, 226);
    bottom: 0;
    position: absolute;
}

#but_sensor_4{

    border-bottom: 3px solid rgb(226, 70, 43);
    bottom: 0;
    right: 0;
    position: absolute;
}


/*BOTÕES TROCAR GRÁFICO*/

.but_graficos{
    background-color: rgba(24, 23, 23, 0.76);
    color: white;
    cursor: pointer;
    height: 5%;
  margin: 0;
    width: 5%;
    float: right;
    
 
}

#botao_hora {
  
}

#botao_semanal{
    
}

#botao_mensal{
  
}

/*FIM BOTÕES*/

.button_detalhes {
    padding: 300px 0px 0px 50px;
    display: none;
    height: 100px;
    border-radius: 10px;
    background-color: magenta;
}

/*INÍCIO GRÁFICOS*/

.caixa_graficos {
    width: 50%;
    height: 100%;
    background-color: magenta;
}

/*FIM GRÁFICOS*/


/**/

.retrato_graficos {
margin-right: 0;   
margin-top: 20%;
width: 600px;
height: 400px;

background-color: magenta;
}

/**/