body {
    margin: 0;
    padding: 0;
    border: 0;
}

.body_img {
    background-color: aliceblue;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* CSS Imagens */

.caixa_logo {

    height: 120px;
    width: 300px;
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    width: 120px;
}

img {
    width: 75px;
}
.imgs2 {
    width: 50px;
    cursor: pointer;
}

.imgs2:hover {
    background-color: rgb(24, 23, 23, .3);
    border-radius: 50px;
}

.img_sensor {
    margin: 150px 0px 0px 400px;
}

.img_arduino {
    margin: 0px 0px -150px -75px;
}

.seta_baixo_1 {
    transform: rotate(180deg);
    margin: 0px 0px -80px -415px;
}

.seta_baixo_2 {
    transform: rotate(180deg);
    margin: 0px 0px -225px -80px;
}

.img_wifi_1 {
    margin: 0px 0px -285px -75px;
}

.seta_sudeste_120_1 {
    margin: 0px 0px -335px -20px;
    transform: rotate(120deg);
}

.img_roteador_1 {
    margin: 0px 0px -340px 51px;
}

.duplo_sentido {
    margin: 0px 0px -420px 110px;
    width: 200px;
}

.img_roteador_2 {
    margin: 0px 0px -340px 270px;
}

.img_server {
    margin: 0px 0px -205px -360px;
}

.seta_nordeste_15_1 {
    transform: rotate(15deg);
    margin: 0px 0px -285px 35px
}

.seta_nordeste_15_2 {
    transform: rotate(15deg);
    margin: 0px 0px -130px -15px;
}

.img_azure {
    width: 35px;
    margin: 0px 0px -170px 0px;
}

.mysql {
    margin: 0px 0px -65px -65px;
}

.http {
    margin: 0px 0px 50px -25px
}

.seta_nordeste_15_3 {
    transform: rotate(15deg);
    margin: 0px 0px -5px -15px;
}

.trio {
    width: 35px;
    margin: 0px 0px 80px -120px;
}

.node {
    width: 35px;
    margin: 0px 0px 70px 70px;
}

.seta_sudeste_162 {
    height: 325px;
    width: 200px;
    transform: rotate(162deg);
    margin: 0px 0px -270px -25px;
}

.seta_nordeste_15_4 {
    transform: rotate(60deg);
    margin: 0px 0px -330px 0px;
}

.img_wifi_2 {
    margin: 0px 0px -260px -35px;
}

.seta_nordeste_15_5 {
    transform: rotate(15deg);
    margin: 0px 0px -215px -55px;
}

.pc {
    margin: 0px 0px -145px -65px;
}

.seta_nordeste_15_6 {
    transform: rotate(15deg);
    margin: 0px 0px -80px -65px;
}

.cliente {
    margin: 0px 0px -5px -70px;
}

.imgs:hover {
    transition: 0.3s;
    transform: scale(1.5);
}


/* CSS */

.logo_menu{
    height: 5em;
    margin: 10px;
    z-index: 1;
}

.menu{
    position: absolute;
    top: 200px;
    width: 300px;
    height: 350px;
}

ul{
    list-style: none;
}

li{
    margin-top: 1em;
    font-size: 2.5em;
    text-align: left;
}

.caixa_menu{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -300px; 
    transition: 0.3s;
    background-color: rgb(24, 23, 23, .2);
    border-radius: 50px;
}

.esquerda_direita {
    bottom: 0px;
    position: absolute;
    margin: 0px 0px 0px 180px;
}