


/* Absolute: Utilizando a propriedade left: 0 junto com absolute a div assume o ponto 0 da página (lado superior esquerdo) */
/*.container-caixa {   
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}*/

/*NÃO VAMOS USAR*/



