.pag-login {
background-color: rgba(0, 0, 0, .2);
box-shadow: 0 0 4px 4px rgb(0 0 0 / 35%);
text-align: center;
margin-top: 13%;
margin-left: 30%;
width: 39%;
border-radius: 70px;
}

.box-login {
display: inline-block;
padding: 2.00em 2.00em 2.00em 1.20em;
width: 75%;
height: 15em;
}



.pag-login .input-padrao {
width: 50%;
display: inline-block;
margin-top: 1.00em;
padding-right: 9%;
background-color:  rgba(139, 139, 139, 0.1);
border-radius: 30px;

}

.btn-green {
color: white;
background-color: green;
margin: 20px 0 50px 0;
border: 0;
padding: 10px 20px;
border-radius: 5px;
float: left;
cursor: pointer;
}

.pag-login .btn-green {
display: block;
float: none;
margin: 12em;
margin-top: 2em;
width: 9.00em;
}

span {
color: white;
}

.Tofu {
margin-left: 1.00em;

}

.form_senha{
    width: 100%;
    text-align: end;
}

.rodape{
    text-align: center;
    width: 100%;
}