
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.42em;
    color: white;
    background-color: black;
    font-weight: bold;
    position: relative;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #66fb6b;
}

h2 {
    font-size: 2em;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: white;
}

/* MUDANDO AS CORES DOS REGISTROS */
.yellow {
    color: #FFF842;
}

.container th h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    color: #66fb6b;
}

.container td {
    font-weight: normal;
    font-size: 2em;
    -webkit-box-shadow: 2px 2px 2px -2px #0E1119;
    -moz-box-shadow: 2px 2px 2px -2px #0E1119;
    box-shadow: 2px 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    display: table;
    padding: 0 0 4em 0;
}

.container td,
.container th {
    padding-bottom: 3%;
    padding-top: 4%;
    padding-left: 2.5%;
    width: 600px;
}

/* Background-color das filas / espaços */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color das linhas */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

/* CAIXA COLUNA / COR */
.container th {
    background-color: #1F2739;
}

/* CAIXA REGISTROS / COR */
.container td:first-child {
    color: #66fb6b;
}

/* TROCA DE CORES AO PASSAR O MOUSE NAS LINHAS */
.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}


/* HOVER PASSANDO O MOUSE NOS QUADRADOS DA TABELA */
.container td:hover {
    background-color: #FFF842;
    color: red;
    font-weight: bold;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}


/* RESPONSIVIDADE */

@media (max-width: 800px) {

    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}

.return {
    width: 75px;
    margin: 0 75px 50px;
}