@media print{

    .no-print{
        display: none;
    }

    .only-print{
        display: block;
    }

}

.only-print{
    display: none;
}
<<<<<<< HEAD
=======

>>>>>>> 2758f1ae34c1e0ff8db7576901be788584a1f4a9
