* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
    background: #3d413b;
    overflow-y: hidden; 
}


/*INICIO FUNCTION CREATE*/
.publicacao {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #f7ef21;
    border-radius: 5px;
    padding: 0px 15px 5px;
    text-align: left;
    margin-bottom: 10px;
}
.nome {
    text-align: center;
    width: 80px;
    float:left;
    color: gray;
    font-weight: bold;
    padding-top: 10px;
    /* border: 1px solid rgb(255, 95, 37); */
}
.descricao {
    text-align: center;
    width: 90px;
    padding-top: 10px;
}

/*FIM FUNCTION CREATE*/

.buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    /* Default de botão é inline-block. Com block, margin auto funciona*/
}
.button {
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    width: 180px;
    margin: 0 1%;
    border: 5px solid #ecf0f1;
    height: 38px;
    padding: 0 20px;
    cursor: pointer;
    background-color: #2d0028;
}
.button_2 {
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    width: 240px;
    margin: 0 1%;
    border: 5px solid #ecf0f1;
    height: 60px;
    padding: 0 20px;
    cursor: pointer;
    background-color: #2d0028;
}
.button_3 {
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    width: 180px;
    margin: 0 1%;
    border: 5px solid #ecf0f1;
    height: 38px;
    padding: 0 20px;
    cursor: pointer;
    background-color: rgba(102, 226, 44, 0.61);
    left: 33%;
    position: relative;
    margin: 60px;
}

.button_3:hover {
    background-color: rgb(102, 226, 44);
}

.btn-now {
    border-radius: 10px;
    border: 3px solid #d8d8d8;
    background-color: #613268;
}

.feed {
    float: right;
    width: 100%;
    color: #ac00f3;
}
.titulo {
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
    padding: 2vw 0;
}
.text {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
    padding: 4vw 0;
    color: #ac00f3;
}
.legenda {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0.5vw;
    font-size: 2vw;
    color: #f7ef21;
    font-weight: 700;
}
.info_4 {
    margin-right: 2%;
}
.info_5 {
    margin-right: 2%;
}

.fundo_feed {
    background-color: #0f0f0f;
    overflow-y: scroll;
    position: absolute;
    height: 97%;
    width: 73%;
    left: 25.6%;
}

#feed_container {
    color: gray;
}